<view class="goods my-class">
  <image class="cover" src="{{cover}}" />
  <view class="goods-main">
    <view class="goods-info">
      <view class="goods-title">{{title}}</view>
      <view class="goods-money">￥{{money}}</view>
    </view>
    <view class="goods-spec">
      <view class="goods-choose">已选：{{spec}}</view>
      <view class="goods-num">x{{num}}</view>
    </view>
  </view>
</view>