<navigator class="wrap my-class" url="/pages/detail/index?id={{otherId}}&goodsId={{goodsId}}&goodsType={{goodsType}}" >
  <view class="cover">
    <image mode="aspectFit" binderror="bindError" src="{{errorCover || cover}}" />
  </view>
  <view class="title">
    {{title}}
  </view>
  <view class="footer">
    <view class="money">
      <text>￥</text>{{money}}
    </view>
    <view class="buy">
      <image src="/asset/add.png" />
    </view>
  </view>
</navigator>