page{
  padding-bottom: 100rpx;
}
.cover-swiper{
  width: 750rpx;
  height: 750rpx;
}
.cover-item{
  width: 100%;
  height: 100%;
}
.main-scroll{
  width: 100%;
  height: calc(100% - 100rpx);
}
/* 价格区域 */
/* 正常价格样式 */
.normal-money-wrap{
  width: 100%;
  font-size: 50rpx;
  color: #c50000;
  font-weight: bold;
  padding: 36rpx 0 8rpx 24rpx;
}
.normal-money-wrap text{
  font-size: 30rpx;
}
/* 秒杀价格样式 */
.kill-money-wrap {
  width: 100%;
  height: 110rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c50000;
}
.money-wrap{
  display: flex;
  align-items: center;
}
.current-money{
  color: #ffffff;
  padding-left: 24rpx;
  margin-right: 29rpx;
}
.kill-down{
  font-size: 22rpx;
  color: #ffffff;
  margin-right: 24rpx;
}
.end-down{
  display: flex;
  align-items: center;
  font-size: 24rpx;
  color: #ffffff;
  margin-top: 10rpx;
}
.limit-down-end{
  display: flex;
  color: #ffffff;
}
.end-down view{
  width: 40rpx;
  height: 40rpx;
  border-radius: 10rpx;
  background: #ffdd00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4rpx;
}
.percent-num{
  position: relative;
  width: 150rpx;
  height: 40rpx;
  background: #ffffff;
  border-radius: 40rpx;
  text-align: center;
  color: #999999;
  font-size: 22rpx;
  line-height: 40rpx;
  overflow: hidden;
}
.percent-num text {
  position: relative;
  z-index: 1;
}
.percent-num-in{
  position: absolute;
  height: 100%;
  border-radius: 40rpx;
  background: #ffdd00;
}
/* 标题 */
.title{
  width: 690rpx;
  margin: 26rpx auto 30rpx;
  white-space: normal;
  font-size: 32rpx;
  line-height: 32rpx;
}
.desc{
  width: 690rpx;
  margin: 0 auto 36rpx;
  color: #959595;
  font-size: 24rpx;
}


/* 详情图片 */
.detail-image-top{
  width: 100%;
  height: 60rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-image-top-text{
  font-size: 26rpx;
  color: #c50000;
  border-bottom: 4rpx solid #c50000;
  line-height: 60rpx;
  padding: 0 20rpx;
}
.detail-image-wrap{
  width: 100%;
  
}
#middle{
  padding-top: 50px;
}
/* 规格选择 */
.choose-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.choose-mask{
  height: calc(100% - 800rpx);
  width: 100%;
}
.choose-main{
  width: 100%;
  height: 800rpx;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
}
.choose-header{
  width: 100%;
  height: 150rpx;
  border-bottom: 1px solid #e8e8e8;
  padding: 28rpx 25rpx 0 237rpx;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.choose-info{
  max-width: 450rpx;

}
.choose-money{
  font-size: 36rpx;
  line-height: 36rpx;
  color: #c50000;
  margin-bottom: 20rpx;
}
.choose-close{
  width: 30rpx;
  height: 30rpx;
}
.choose-current{
  font-size: 24rpx;
  line-height: 24rpx;
  white-space: nowrap;
  color: #333333;
}
.choose-cover{
  width: 180rpx;
  height: 180rpx;
  position: absolute;
  left: 24rpx;
  top: -71rpx;
  border-radius: 10rpx;
  overflow: hidden;
}
/* 确定按钮 */
.choose-handle{
  width: 100%;
  height: 100rpx;
  background: #c50000;
  color: #ffffff;
  text-align: center;
  line-height: 100rpx;
  font-size: 32rpx;
  
}
/* 详细规格选择 */
.choose-spec{
  width: 100%;
  height: 420rpx;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
}
.spec-wrap{
  width: 100%;
}
.spec-wrap .choose-title{
  padding-top: 30rpx;
}
.choose-item{
  padding: 0 30rpx;
  height: 54rpx;
  border-radius: 10rpx;
  background: rgba(245, 245, 245, 1);
  color: #595959;
  font-size: 24rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30rpx 30rpx 0;
}
.choose-items-wrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30rpx 0 0 25rpx;
}
.choose-item-active{
  background: #c50000;
  color: #ffffff;
}

/* 数量选择 */
.choose-num{
  width: 100%;
  height: 130rpx;
  padding-top: 30rpx;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.choose-title{
  padding-left: 25rpx;
  font-size: 30rpx;
  color: #474747;
}
.choose-num-change{
  width: 200rpx;
  height: 56rpx;
  border-radius: 11rpx;
  overflow: hidden;
  border: 1px solid rgba(187, 187, 187, 1);
  display: flex;
  align-items: center;
  margin-right: 27rpx
}
.choose-num-change input{
  height: 100%;
  flex: 1;
  color: #333333;
  text-align: center;
  line-height: 100%;
  font-size: 29rpx;
}
.less, .more{
  min-width: 55rpx;
  height: 100%;
  font-size: 29rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.less{
  color: #bbbbbb;
  border-right: 1px solid rgba(187, 187, 187, 1);
}
.more {
  color: #333333;
  border-left: 1px solid rgba(187, 187, 187, 1);
}



/* 底部 */
.footer{
  width: 100%;
  height: 100rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: #ffffff;
}
.footer-left{
  width: 270rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-left-item{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.footer-left-item image{
  width: 40rpx;
}
.footer-left-item text{
  font-size: 20rpx;
  color: #1a1a1a;
}
.car-button, .buy-button{
  width: 240rpx;
  height: 100%;
  line-height: 100rpx;
  text-align: center;
  color: #ffffff;
  font-size: 34rpx;
}
.car-button{
  background: #FF2F2F;
}
.buy-button {
  background: #c50000;
}