<navigator class="wrap my-class" hover-class="none" url="/pages/search/index?type=brand&bcId={{item.cId}}">
  <view class="image">
    <image src="{{item.cImg}}" />
  </view>
  <view class="title">{{item.cName}}</view>
</navigator>