.wrap{
  width: 220rpx;
  height: 260rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding-top: 20rpx;
}
.image{
  width: 160rpx;
  height: 160rpx;
}
.title{
  width: 160rpx;
  height: 40rpx;
  margin-top: 20rpx;
  background: rgb(245, 245, 245);
  border-radius: 20rpx;
  font-size: 26rpx;
  text-align: center;
}