page{
  padding-bottom: 100rpx;
}
.header{
  width: 750rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24rpx;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.shop-name{
  display: flex;
  align-items: center;
}
.select{
  width: 32rpx;
  min-width: 32rpx;
  height: 32rpx;
  margin-right: 20rpx;
}
.header view{
  font-size: 28rpx;
  color: #1a1a1a;
}

.car-item{
  display: flex;
  align-items: center;
  width: 702rpx;
  height: 220rpx;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
}
.car-item-main{
  display: flex;
  align-items: center;
  flex: 1;
}
.cover{
  width: 160rpx;
  min-width: 160rpx;
  height: 160rpx;
  margin-right: 30rpx;
}
.main-detail{
  width: 460rpx;
  height: 160rpx;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.main-header{
  width: 100%;
  font-size: 28rpx;
  line-height: 38rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
}
.main-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.remove{
  width: 30rpx;
  min-width: 30rpx;
  height: 30rpx;
}
.main-footer{
  width: 100%;
  height: 48rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.money{
  font-size: 30rpx;
  color: #C50000;
}
.disedit-count{
  font-size: 30rpx;
  color: #1a1a1a;
}
.count{
  display: flex;
  align-items: center;
  width: 180rpx;
  height: 48rpx;
  border: 1px solid #747474;
  border-radius: 8rpx;
  overflow: hidden;
}
.count input {
  font-size: 24rpx;
  color: #000000;
  text-align: center;
  flex: 1;
}
.more, .less {
  min-width: 48rpx;
  height: 46rpx;
  text-align: center;
  font-size: 30rpx;
  line-height: 46rpx;
}
.less{
  color: #929292;
  border-right: 1px solid #747474;
}
.more{
  color: #959595;
  border-left: 1px solid #747474;
}
/* 描述数量 */
.desc{
  width: 100%;
  font-size: 24rpx;
  line-height: 38rpx;
  color: #959595;
}

/* 底部结算 */
.footer{
  width: 100%;
  height: 100rpx;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
}
.footer-all{
  padding-left: 24rpx;
  font-size: 28rpx;
  color: #595959;
  display: flex;
  align-items: center;
}
.footer-all image{
  width: 32rpx;
  height: 32rpx;
  margin-right: 10rpx;
}
.footer-account{
  font-size: 28rpx;
  color: #333333;
  flex: 1;
  justify-content: flex-end;
  display: flex;
  align-items: baseline;
}
.footer-account text{
  font-size: 34rpx;
  color: #C50000;
}
.footer-buy{
  width: 240rpx;
  height: 100%;
  background: #C50000;
  text-align: center;
  line-height: 100rpx;
  font-size: 34rpx;
  color: #ffffff;
  margin-left: 20rpx;
}