<view class="header">
  <view class="header-main">
    <view>{{'小阿里'}}　{{'150456465454'}}<text>默认</text></view>
    <view>河北省思考达拉斯看到了撒打算阿萨德阿萨</view>
  </view>
  <view class="header-right">
    <image src="/asset/right-arrow.png" />
  </view>
  <view class="color-line"></view>
</view>

<view class="source">糯米商城</view>
<order-goods  title="{{'纤丝鸟 TINSINO 婴儿衣服秋冬装男童女童夹棉哈衣宝宝外出保暖连身衣 '}}"
              cover="{{'https://tuimeizi.cn/random?w=130&h=130'}}"
              money="{{149}}"
              spec="{{'红灰  70cm'}}"
              num="{{1}}"></order-goods>

<view class="money-wrap">
  <view class="money-item">
    商品价格<text >￥{{149}}</text>
  </view>
  <view class="item-line"></view>
  <view class="money-item">
    运费<text >{{'包邮'}}</text>
  </view>
  <view class="item-line"></view>
  <view class="money-item">
    优惠券
    <view>
      <text style="color:#c50000">{{'无可用'}}</text>
      <image src="/asset/right-arrow.png" />
    </view>
  </view>
  <view class="item-line"></view>
  <view class="money-item">
    商品合计<text style="color:#c50000">￥{{149}}</text>
  </view>
</view>

<view class="split-line"></view>
<view class="money-item" style="color:#ff8800">
  会员自省<text style="color:#ff8800">￥{{9.6}}</text>
</view>

<view class="buy-tip">
  <view class="buy-tip-title">温馨提示</view>
  <view class="buy-tip-content">
    糯米<text style="color:#ff8800">不会以任何理由索要您的银行卡退款</text>。凡是以退款为由要求扫码、点连接、绑定银行卡的都是骗子，请不要上当，有需要可以致电糯米客服                               
  </view>
</view>

<view class="footer">
  <view class="total">实付：<text >￥{{149}}</text></view>
  <view class="handle">立即支付</view>
</view>