<top-tab type-nav="{{typeNav}}" current="{{currentType}}" bind:onchange="onTabChange"></top-tab>

<view class="list-wrap">
  <block wx:for="{{[1,2,3]}}">
    <order-item item="{{item}}"></order-item>
  </block>
</view>