page{
  background: #f5f5f5;
}
.add-item{
  margin: 30rpx auto 0;
  width: 702rpx;
  height: 242rpx;
  border-radius: 10rpx;
  background: #ffffff;
  padding: 30rpx;
}
.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 30rpx;
  line-height: 30rpx;
  color: #333333;
  margin-bottom: 36rpx;
}
.address{
  width: 100%;
  font-size: 24rpx;
  line-height: 24rpx;
  color: #333333;
  display: flex;
  align-items: center;
}
.address text{
  width: 60rpx;
  height: 28rpx;
  line-height: 28rpx;
  background-color: #ff8800;
  color: #ffffff;
  margin-right: 10rpx;
  font-size: 20rpx;
  text-align: center;
  border-radius: 6rpx;
}
.line{
  margin: 30rpx 0;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}
.handle{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.mr{
  display: flex;
  align-items: center;
}
.mr image{
  width: 28rpx;
  height: 28rpx;
}
.mr text{
  font-size: 26rpx;
  margin-left: 18rpx;
}
.remove{
  display: flex;
  align-items: center;
}
.remove image{
  width: 26rpx;
  height: 26rpx;
  margin-right: 22rpx;
}
.remove text{
  color: #474747;
  font-size: 26rpx;
}