.wrap{
  width: 100%;
  background: #ffffff;
  margin-bottom: 20rpx;
}
/* 顶部，状态 */
.header{
  width: 100%;
  height: 83rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26rpx;
  color: #1a1a1a;
  padding: 0 24rpx;
}
.header text{
  color: #c50000;
}

.money{
  height: 80rpx;
  width: 100%;
  padding: 0 24rpx; 
  border-bottom: 1px solid #e8e8e8;
  color: #474747;
  font-size: 26rpx;
  text-align: right;
  line-height: 80rpx;
}
.handle{
  height: 97rpx;
  width: 100%;
  padding: 0 24rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.normal-handle, .red-handle{
  width: 160rpx;
  height: 56rpx;
  border: 1px solid;
  border-radius: 10rpx;
  margin-left: 30rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26rpx;
}
.normal-handle{
  color: #595959;
  border-color: #cccccc;
}
.red-handle{
  color: #c50000;
  border-color: #c50000;
}