<wxs module="tools">
  function killText(code) {
    switch(code) {
      case '3':
        return '秒杀结束';
        break;
      case '1': 
        return '即将开始';
        break;
      case '2': 
        return '正在进行';
        break;
    }
  }
  module.exports = {
    killText: killText
  }
</wxs>
<view class="header">
  <view class="time-wrap">
    <block wx:for="{{kill}}" wx:key="queryTime">
      <view class="time-item" bind:tap="onTimeTap" data-query-time="{{item.queryTime}}">
        <view class="time {{currentKillTime === item.queryTime ? 'current-time' : ''}}">{{item.showTime}}</view>
        <view class="status">{{tools.killText(item.code)}}</view>
      </view>
    </block>
  </view>
  <view class="header-bak">
    <image src="/asset/miaoshaliebiaobj.png" />
  </view>
</view>

<view class="goods-wrap">
  <block wx:for="{{currentKillGoods.list}}"
                wx:key="gId">
    <kill-goods cover="{{item.goodsImage}}"
                title="{{item.goodsName}}"
                kill-money="{{item.killMoney}}"
                old-money="{{item.goodsMoney}}"
                desc="{{item.attrNum}}"
                goodsId="{{item.gId}}"
                goodsType="0"
                buyText="马上抢">
      <view slot="middle" class="percent-wrap">
        <view class="percent">
          <view class="current-percent" style="width: {{item.percentum + '%'}}"></view>
        </view>
        <view class="percent-text">已抢{{item.percentum}}%</view>
      </view>
    </kill-goods>
  </block>
</view>