<block wx:for="{{goodsList.list}}" wx:key="goodsId">
  <kill-goods title="{{}}"
              cover="{{}}"
              other-id="{{}}"
              goods-id="{{}}"
              ></kill-goods>    
</block>

<view class="empty-tip" wx:if="{{goodsList.list.length === 0}}">无更多数据</view>