<block wx:for="{{[1,2]}}">
  <view class="real-item">
    <view class="name">{{'长草团子'}}</view>
    <view class="card">身份证号：{{'130***********112'}}</view>
    <view class="line"></view>
    <view class="handle">
      <view class="mr">
        <image src="{{'/asset/select.png'}}" />
        <text>已设为默认</text>
      </view>
      <view class="remove">
        <image src="/asset/remove.png" />
        <text >删除</text>
      </view>
    </view>
  </view>
</block>

<view class="button">添加实名信息</view>
